@using TrackTV.Services.VewModels.Shows
@model IEnumerable<TrackTV.Services.VewModels.Shows.SimpleShowViewModel>


@if (Model.Any())
{
    <div class="row">

        @foreach (SimpleShowViewModel show in Model)
        {
            <div class="text-center col-md-3 show-small">

                <div>
                    <a href="@Url.Action("ById", "ShowDetails", new
                             {
                                 UserFriendlyId = show.UserFriendlyId
                             })">

                        <img src="@show.Poster" alt="@show.Name" title="@show.Name" class="poster-small"/>

                    </a>

                    <strong class="text-center show-title-small">
                        @Html.ActionLink(show.Name, "ById", "ShowDetails", new
                        {
                            UserFriendlyId = show.UserFriendlyId
                        }, null)
                    </strong>
                </div>

                <span class="info-small">
                    Subscribers : @Html.DisplayFor(_ => show.SubscriberCount) |
                    Episodes : @Html.DisplayFor(_ => show.EpisodeCount)
                </span>

            </div>
        }
    </div>
}

else
{
    <span>No shows</span>
}