@using TrackTV.Logic.Models
@model TrackTV.Web.Areas.Admin.ViewModels.ManageShows.SampleShowsViewModel

@{
    ViewBag.Title = "Search for " + Model.Query;
}

<div class="samples-container">

    @foreach (ShowSample sample in Model.Samples)
    {
        string panelClass = sample.IsAdded ? "panel-danger" : "panel-success";

        <div class="center-block sample-display">
            <div class="panel @panelClass">

                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(model => sample.Name)</h3>
                </div>

                <div class="panel-body">
                    <img src="@Html.DisplayFor(model => sample.Banner)" alt="@Html.DisplayFor(model => sample.Name)" title="@Html.DisplayFor(model => sample.Name)"/>

                    <div class="list-group">

                        <a class="list-group-item">
                            <p class="list-group-item-text">@Html.DisplayFor(model => sample.Description)</p>
                        </a>
                    </div>

                    @if (!sample.IsAdded)
                    {
                        using (Html.BeginForm("AddShow", "ManageShows", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <input type="hidden" name="id" value="@sample.Id"/>
                            <input type="submit" value="Add" class="btn btn-success center-block btn-add-show"/>
                        }
                    }

                </div>
            </div>
        </div>
    }

</div>