@model TrackTV.Services.VewModels.Shows.ShowsByGenreVewModel

@{
    ViewBag.Title = "Shows in " + Model.GenreName;
}


@Html.Partial("_Genres", Model.Genres)


<h1 class="text-center show-group-title">Top Shows In @Model.GenreName</h1>

@Html.DisplayFor(model => model.Running)

@if (Model.Ended.Any())
{
    <h1 class="text-center show-group-title">Top <span class="ended-word">Ended</span> Shows In @Model.GenreName</h1>

    @Html.DisplayFor(model => model.Ended)
}